<div class="container">
  <h2 class="text-center mb-4">Dostupni ljubimci</h2>
  <div class="row">
    <div *ngFor="let ljubimac of ljubimci" class="col-md-4">
      <div class="card">
        <img [src]="ljubimac.slika" class="card-img-top" alt="Ljubimac" style="height: 300px;  object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{ ljubimac.ime }}</h5>
          <p class="card-text">{{ ljubimac.opis }}</p>
          <p><strong>Vrsta:</strong> {{ ljubimac.vrsta }}</p>
          <p><strong>Starost:</strong> {{ ljubimac.starost }} godina</p>
          <p><strong>Veličina:</strong> {{ ljubimac.velicina }}</p>
          <p><strong>Poreklo:</strong> {{ ljubimac.poreklo }}</p>
          <p><strong>Cena:</strong> {{ ljubimac.cena }} RSD</p>
          <div>
            <strong>Recenzije:</strong>
            <ul>
              <li *ngFor="let recenzija of ljubimac.recenzije">
                <strong>{{ recenzija.korisnik }}:</strong> {{ recenzija.ocena }}★ - {{ recenzija.komentar }}
              </li>
            </ul>
            <button class="btn btn-danger" (click)="rezervisiLjubimac(ljubimac)">Rezerviši</button>
            <div *ngIf="!isLoggedIn()" class="alert alert-warning mt-2">
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



