<div class="container mt-5">
  <h2>Pretraga ljubimaca</h2>
  <form (ngSubmit)="pretrazi()">
    <div class="form-group">
      <label for="ime">Ime</label>
      <input type="text" class="form-control" id="ime" [(ngModel)]="kriterijumi.ime" name="ime">
    </div>
    <div class="form-group">
      <label for="opis">Opis</label>
      <input type="text" class="form-control" id="opis" [(ngModel)]="kriterijumi.opis" name="opis">
    </div>
    <div class="form-group">
      <label for="vrsta">Vrsta</label>
      <input type="text" class="form-control" id="vrsta" [(ngModel)]="kriterijumi.vrsta" name="vrsta">
    </div>
    <div class="form-group">
      <label for="starost">Starost</label>
      <input type="number" class="form-control" id="starost" [(ngModel)]="kriterijumi.starost" name="starost">
    </div>
    <div class="form-group">
      <label for="velicina">Velicina</label>
      <input type="text" class="form-control" id="velicina" [(ngModel)]="kriterijumi.velicina" name="velicina">
    </div>
    <div class="form-group">
      <label for="poreklo">Poreklo</label>
      <input type="text" class="form-control" id="poreklo" [(ngModel)]="kriterijumi.poreklo" name="poreklo">
    </div>
    <div class="form-group">
      <label for="cena">Cena</label>
      <input type="number" class="form-control" id="cena" [(ngModel)]="kriterijumi.cena" name="cena">
    </div>
    <div class="form-group">
      <label for="recenzije">Recenzije korisnika</label>
      <input type="text" class="form-control" id="recenzije" [(ngModel)]="kriterijumi.recenzije" name="recenzije">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Pretraži</button>
  </form>

  <h3 class="mt-5">Rezultati pretrage</h3>
  <ul class="list-group">
    <li *ngFor="let ljubimac of ljubimci" class="list-group-item">
      <strong>{{ ljubimac.ime }}</strong> - {{ ljubimac.vrsta }}<br>
      {{ ljubimac.opis }}<br>
      Cena: {{ ljubimac.cena }} RSD<br>
      <button class="btn btn-info mt-2">Pogledaj detalje</button>
    </li>
  </ul>
</div>


